[submodule "TimeIsMoney-TimeIsMoneyDB_CMake"]
	path = TimeIsMoney-TimeIsMoneyDB_CMake
	url = https://FelixTheC:<Token>@github.com/FelixTheC/TimeIsMoney-TimeIsMoneyDB_CMake
[submodule "TimeIsMoney-TimeIsMoneyExternalApi_CMake"]
	path = TimeIsMoney-TimeIsMoneyExternalApi_CMake
	url = https://FelixTheC:<Token>@github.com/FelixTheC/TimeIsMoney-TimeIsMoneyExternalApi_CMake
[submodule "TimeIsMoney-TimeIsMoneyInvoice_CMake"]
	path = TimeIsMoney-TimeIsMoneyInvoice_CMake
	url = https://FelixTheC:<Token>@github.com/FelixTheC/TimeIsMoney-TimeIsMoneyInvoice_CMake
[submodule "TimeIsMoney-TimeIsMoneySerial_CMake"]
	path = TimeIsMoney-TimeIsMoneySerial_CMake
	url = https://FelixTheC:<Token>@github.com/FelixTheC/TimeIsMoney-TimeIsMoneySerial_CMake
[submodule "TimeIsMoney-TimeIsMoneyTask_CMake"]
	path = TimeIsMoney-TimeIsMoneyTask_CMake
	url = https://FelixTheC:<Token>@github.com/FelixTheC/TimeIsMoney-TimeIsMoneyTask_CMake
